/*
	CASEY CHEN
	CS 480 - Lab 3
*/

#calcTbl
{
	padding: 1.5em;
	border: 1px solid #000000;
	border-radius: 1em;
	background: #CCCCCC;
}

.trBtns td
{
	width: 20%;
}
.calcBtns
{
	width: 100%;
	height: auto;
	font-size: 3em;
	text-align: center;
	background: #F9F9F9;
	cursor: pointer;
	border: 1px solid #000000;
	border-radius: 0.5em;
}

.opsBtn
{
	width: 100%;
	height: auto;
	font-size: 3em;
	text-align: center;
	background: #669999;
	color: #FFFFFF;
	cursor: pointer;
	border: 1px solid #000000;
	border-radius: 0.5em;
}

.calcBtns:hover
{
	background: #CE5000;
	color: #FFFFFF;
	border: 1px solid #CA0000;
}

.opsBtn:hover
{
	background: #CC6660;
	color: #FFFFFF;
	border: 1px solid #CA0000;
}

#calcFace
{
	background: #FFFFFF;
	color: #000000;
	text-align: right;
	font-size: 2.5em;
	width: 100%;
}